<a href="https://colab.research.google.com/github/Shania2002/ibpassignment2/blob/main/Development_Report.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Downloading Enron Email Data**

In [ ]:
!wget -O enron.db https://curtin-my.sharepoint.com/:u:/g/personal/211934g_curtin_edu_au/EaYagsqa2r1Bi5wtHbswGFwBH2kd2uTnz6rlka7GI36GUQ?download=1
!: the exclamation mark is most commonly used with shell command and special syntax in programming

wget represents a specific command line interfaces to retrive information from the web using the HTTP or FTP protocol

-0 enron.db:the 0-value indicates in wget command has been used to specify the name of the file that the content is downloaded such as here it applies to the enron corporation thus,the files downloaded will be saved as enron_data.

https://curtin-my.sharepoint.com/:u:/g/personal/211934g_curtin_edu_au/EaYagsqa2r1Bi5wtHbswGFwBH2kd2uTnz6rlka7GI36GUQ?download=1: This is the URL of the file that i have downloaded to perform the enron email analysis.

As a result by putting all together, this command will download the file with the given URL and save it as enron.db which means the full dataset.

**Setting SQLite database**

In [ ]:
import sqlite3: the sqlite3 module will allow a set of functions that provide access with SQLite databases

conn = sqlite3.connect("enron.db"): This statement establishes a connection with the SQLite database file under "enron.db" using the sqlite3 library.
                                    
                                    After executing the previous code, a connection object will be created and this will enable to perform various tasks such as executing sql queries,modifying or retrieving data.

cur = conn.cursor(): It is used to create a cursor object associated with the SQLite database connection
whereby "conn" refers to the connection of the object while "cursor", is the method available on the connection object to create a cursor object

**Check Schema of Database**

In [ ]:
#Write an SQL query against the database to retrieve information about the tables,columns and rows from the enron.db database
# After establishing a connection, the SQL query to retrive table names from "sqlite_master" using 'SELECT name FROM sqlite_master WHERE type='table'
# Fetch column information using PRAGMA table_info('employeelist')
# To retrive all the rows from the result, cur.fetchall() is used

Email Traffic overtime

In [ ]:
import pandas as pd: this is used to import the pandas library ans assign the alias "pd".

import matplotlib.pyplot as plt: it is used to import the 'pyplot' module from the 'matplotlib' library and assign it to the alias'plt'.

import seaborn as sns: this statement enables the importation of the seaborn library and assign it the alias 'sns'. Seaborn create a variety of functions such as visualisation like scatter plots, bar plots, pie charts and more.

# Check whether the data column in Message contain null values: isnull() function of the pandas DataFrame indicates whether each value in the "Message" column is null or not. 

# sql query to count number of emails message per day: the pd.read_sql_query(sql, conn) function enables to execute the SQL query and collect all the information from the database connection known as ('conn')
the result is then stored in the variable dataset of 'msgday_df'.

fig =plt.subplots(figsize=(11,6)): this shows a figure and their axis using the subplots() variable from 'matplotlib.pyplot'. the 'figsize' argument where ('11,6') this represents the breath and the length per inch.

sns.lineplot(x= 'date', y ='count', data = msgday_df: this function is using the 'lineplot'() from the seaborn library to crate a line graph whereby on the x-axis shows the date and the y-axis as 'count'and the dataset from 'msgday_df'.
             
fig= plt.subplots(figsize=(18,4)) : this represents the line graph anf their axis using subplots() by having the 'figsize' parameter where ('18,4') is the width and height. 

sns.lineplot(x = 'date', y='count', data = msgperweek_df): this variable executes from the seaborn module used to create a line graph and the dataset as 'msgperweek_df'.

#sql query to count number of emails for each month: It executes the SQL query and return the SQL result as the form of 'conn'.

#convert in dataframe: this function returns the SQL query and convert it into a dataframe for the montly email count as 'msgpermonth_df'.

fig =plt.subplots(figsize=(11,6)): this depicts the figure size in line with the axis using subplots() dataset from the seaborn module to create the line graph for the monthly count where ('11,6') represents the width and height.

sns.lineplot(x ='date', y= 'count', data=msgpermonth_df): this dataset will execute an SQL query from the saeborn library in order to draw a line plot into a dataframe of 'msgpermonth_df'.

**Highest Number of Senders**

In [ ]:
#sql query to retrieve highest senders: Execute the SQL query and return the result.

A function is created and take the query result tehn convert it into a dataframe and it is then allocated to the highestsenders_df

# The top 15 senders with the highest number of emails are represented by highestsenders_df and are listed in an orderly manner

# data = highestsenders_df: this represents the 'data' variable into the dataframe 'highestsender_df'.

#sns.barplot(x="count" , y="sender", data=data): This is used to create the bar chart with the x-axis as 'count' and y-axis as the 'senders' column

#plt.show(): This function is used to demonstrate the bar chart visually.

**Highest Number of recipients**

In [ ]:
sqlrecipients = """: This function executes the SQL query

SELECT rvalue AS recipient, COUNT(*): the 'rvalue' column as recipient and it counts the number the occurences using the COUNT(*) function.

#convert into a dataframe as recipient_count_df.

# then it groups all the  recipients and their mails in a descending order  but limits till  the top 17 with the highest counts.

#conn = sqlite3.connect("enron.db"):the sqlite3 is the module used for the database. the connect function ' conn' is used to connect the sql queries.
'the enron.db' exists in the same directory in the connect() function.

As shown above the neccesary librairies seaborn as 'sns' ans matplotlib as' plt' have already been explained and hence below are the next steps required to perform data:

# read data from database into dataframes: pandas import as pd  is used for the analysis, then 'sqlite3.connect()' replace the dataframe path file

Then it defines the sql query by 'sqlrecipients' variable.Then, use 'pd.read_sql_query() to retrieve all results into the 'highest recipients_df' dataframe.

Finally, by ending the connection database using 'conn_close()'. Then, the dataset from the enron database will be sotred as  the 'highestrecipients_df' dataframe.

data =highestrecipients_df: the 'highestrecipients_df' represents the dataframe  to assign the variable  data.

sns.barplot(x="count", y ="recipient", data=data): the 'sns.barplot()' is used to create the bar chart, where the 'x' argument shows the 'count'and the 'y' parameter  in the y-axis shows the recipients and data represents the dataframe  containing the data.

plt.show(): After creating the bar chart, the 'plt.show()' demonstrates the graph.

**Email Distribution by recipient type**

In [ ]:
#sql query to get the recipient types and their counts:
As explained above data manipulation and SQLite database is already highlighted hence for this execute this code, we first need to build a connection by using 'sqlite3,connect()'

Next, to define the query  tyhe 'sqlrecipient_types' variable is used.

Then, by executing the sql query using'conn.execute() which then stores  the result in the'sql_recipientstypes' variable.

Afterwards, the same codes are executed  to close the database as seen above by using 'conn.close()' into the 'recipients_df' dataframe.

**Testing Analysis**

In [2]:
# Check whether the data column in Message contain null values
sql="""
SELECT date
FROM MESSAGE

SyntaxError: ignored

Base on my code above, I was unable to execute the code as I made a syntax error in my SQL query by not adding the closing double quotation mark.

In [3]:
# sql query to count number of emails message per day
sql= """

SELECT strftime('%Y-%d' , date)
AS date,
COUNT()AS count FROM message
GROUP BY date

"""
# convert in dataframe
msgday_df = pd.read_sql_query(sql, conn)
msgday_df

NameError: ignored

The issue here is that i was unable to count tyhe number of  as i missed the asterik and i did not include Select clause after 'AS date'.

In [5]:
#sql query to retrieve highest senders
sqlsenders= ""
SELECT sender, COUNT(*)
AS count
FROM message
GROUP BY sender
ORDER BY count
DESC
LIMIT 15
"""

SyntaxError: ignored

Here,  iamde an error in my sql query such that i missed  the closing quotation mark at the beginning of the query.

In [6]:
sql_recipientstypes = """
SELECT rtype, COUNT (rtype)
AS count

FROM recipientinfo

GROUP by rtype
ORDER by rtype
"""

recipients_df = pd.read_sql_query(sql_recipientstype, conn)
recipients_df

NameError: ignored

The error here  in the variable name 'sql_recipientstypes' in the last line, I missed an 's' in sql_recipientstype instead of 'sql_recipientstyes'.